In [107]:
import pandas as pd


path_to_file = "train.csv"
data = pd.read_csv(path_to_file)
print(data.shape)
data.head()

(1460, 81)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [108]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt

In [109]:
# ORDINAL
# not changing LotShape - not logical
# not changing GarageType - look at this in terms of collapsing, maybe change to binomial

# remove Utilities - all the same type
# OverallQual - no change
# OverallCond - no change
# BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1 & 2, garagefinish, fireplace qual, garagequal, garage /finish cond  - doesn't have one an issue here?
# Pool qual - make this a dummy
# Fence - dummy?
# misc features? Drop this? shed or no shed?

# NAs to deal with:
# Electrical - impute one missing value

data.FireplaceQu.unique()

array([nan, 'TA', 'Gd', 'Fa', 'Ex', 'Po'], dtype=object)

In [110]:
cleanup_nums = {"LandSlope": {"Gtl": 3, "Mod": 2, "Sev": 1},
                
                "ExterQual": {"Ex": 4, "Gd": 3, "TA": 2, "Fa": 1},
                
                "ExterCond": {"Ex": 5, "Gd": 4, "TA": 3, "Fa": 2, "Po": 1},
                
                "BsmtQual": {"Ex": 5, "Gd": 4, "TA": 3, "Fa": 2, np.nan: 1},
                
                "BsmtCond": {"Gd": 4, "TA": 3, "Fa": 2, np.nan: 1},
                
                "BsmtExposure": {"Gd": 4, "Av": 3, "Mn": 2, "No": 2, np.nan: 1},
                
                "BsmtFinType1": {'GLQ':7, 'ALQ':6, 'Unf':2, 'Rec':4, 'BLQ':5, np.nan:1, 'LwQ':3},
                
                "BsmtFinType2": {'GLQ':7, 'ALQ':6, 'Unf':2, 'Rec':4, 'BLQ':5, np.nan:1, 'LwQ':3},
                
                "HeatingQC": {"Ex": 5, "Gd": 4, "TA": 3, "Fa": 2, "Po": 1},
                
                "Electrical": {'SBrkr':5, 'FuseF':3, 'FuseA':4, 'FuseP':2, 'Mix':1, np.nan:0}, # impute the NA
                
                "KitchenQual": {"Ex": 4, "Gd": 3, "TA": 2, "Fa": 1},
                
                "Functional": {'Typ':7, 'Min1':6, 'Maj1':3, 'Min2':5, 'Mod':4, 'Maj2':2, 'Sev':1},
                
                "FirePlaceQu": {"Ex": 6, "Gd": 5, "TA": 4, "Fa": 3, "Po": 2, np.nan: 1},
                
                "GarageFinish": {'RFn': 3, 'Unf': 2, 'Fin': 4, np.nan: 1},
                
                "GarageQual": {"Ex": 6, "Gd": 5, "TA": 4, "Fa": 3, "Po": 2, np.nan: 1},
                
                "GarageCond": {"Ex": 6, "Gd": 5, "TA": 4, "Fa": 3, "Po": 2, np.nan: 1},
                
                "PavedDrive": {'Y':3, 'N':1, 'P':2},
                
                "PoolQC": {"Ex": 5, "Gd": 4, "TA": 3, "Fa": 2, np.nan: 1}, # make this dummy
                
                "Fence": {np.nan:1, 'MnPrv':4, 'GdWo':3, 'GdPrv':5, 'MnWw':2}

               }

In [111]:
data.replace(cleanup_nums, inplace=True)

In [135]:
mssubDummies = pd.get_dummies(data['MSSubClass'])
mssubDummies = mssubDummies.drop(20, axis = 1)

In [139]:
data= pd.concat([data.drop('MSSubClass', axis = 1), mssubDummies], axis =1)

In [142]:
msZoningdum = pd.get_dummies(data['MSZoning'])
#msZoningdum = msZoningdum.drop(20, axis = 1)

In [167]:
def dummify(x):
    dummy = pd.DataFrame([])
    for i in x:
        dummylist = pd.get_dummies(i)
        dummylist = dummylist.drop(i.iloc[0], axis = 1)   
        dummy = pd.concat([dummy, dummylist], axis =1)
    return dummy

In [168]:
x = [data.LotShape, data.LandContour]
dummify(x)

      IR1  IR2  IR3  Bnk  HLS  Low
0       0    0    0    0    0    0
1       0    0    0    0    0    0
2       1    0    0    0    0    0
3       1    0    0    0    0    0
4       1    0    0    0    0    0
5       1    0    0    0    0    0
6       0    0    0    0    0    0
7       1    0    0    0    0    0
8       0    0    0    0    0    0
9       0    0    0    0    0    0
10      0    0    0    0    0    0
11      1    0    0    0    0    0
12      0    1    0    0    0    0
13      1    0    0    0    0    0
14      1    0    0    0    0    0
15      0    0    0    0    0    0
16      1    0    0    0    0    0
17      0    0    0    0    0    0
18      0    0    0    0    0    0
19      0    0    0    0    0    0
20      1    0    0    0    0    0
21      0    0    0    1    0    0
22      0    0    0    0    0    0
23      0    0    0    0    0    0
24      1    0    0    0    0    0
25      0    0    0    0    0    0
26      0    0    0    0    0    0
27      0    0    0    0    0    0
28      1    0    0    0    0    0
29      1    0    0    0    0    0
...   ...  ...  ...  ...  ...  ...
1430    0    0    1    0    0    0
1431    1    0    0    0    0    0
1432    0    0    0    0    0    0
1433    1    0    0    0    0    0
1434    0    0    0    0    0    1
1435    0    0    0    0    0    0
1436    0    0    0    0    0    0
1437    0    0    0    0    0    0
1438    0    0    0    0    0    0
1439    0    0    0    0    0    0
1440    1    0    0    1    0    0
1441    0    0    0    0    0    0
1442    0    0    0    0    0    0
1443    0    0    0    0    0    0
1444    0    0    0    0    0    0
1445    0    0    0    0    0    0
1446    1    0    0    0    0    0
1447    0    0    0    0    0    0
1448    0    0    0    0    0    0
1449    0    0    0    0    0    0
1450    0    0    0    0    0    0
1451    0    0    0    0    0    0
1452    0    0    0    0    0    0
1453    0    0    0    0    0    0
1454    0    0    0    0    0    0
1455    0    0    0    0    0    0
1456    0    0    0    0    0    0
1457    0    0    0    0    0    0
1458    0    0    0    0    0    0
1459    0    0    0    0    0    0

[1460 rows x 6 columns]

In [ ]:
data[‘Alley’].fillna(“No”,inplace=True)